<launch>
    <!-- If you want to generate a ROS bag with the recorded simulated data, set this flag to true -->
    <arg name="record" default="false"/>

    <!-- Start the a underwater world simulation scenario -->    
    <include file="$(find uuv_gazebo_worlds)/launch/ocean_waves.launch"/>

    <!-- Add the RexROV vehicle to the simulation (namespace: rexrov1) -->
    <include file="$(find uuv_descriptions)/launch/upload_rexrov.launch">
        <arg name="x" default="0"/>
        <arg name="y" default="0"/>
        <arg name="z" default="-20"/>
        <arg name="yaw" default="0"/>
        <arg name="namespace" default="rexrov1"/>
    </include>

    <!-- Start the controller -->
    <include file="$(find uuv_tutorial_dp_controller)/launch/start_tutorial_dp_controller.launch">
        <arg name="uuv_name" value="rexrov1"/>
        <arg name="model_name" value="rexrov"/>
    </include>

    <!-- Add the RexROV vehicle to the simulation (namespace: rexrov2) -->
    <include file="$(find uuv_descriptions)/launch/upload_rexrov.launch">
        <arg name="x" default="50"/>
        <arg name="y" default="0"/>
        <arg name="z" default="-20"/>
        <arg name="yaw" default="0"/>
        <arg name="namespace" default="rexrov2"/>
    </include>

    <!-- Start the controller -->
    <include file="$(find uuv_tutorial_dp_controller)/launch/start_tutorial_dp_controller.launch">
        <arg name="uuv_name" value="rexrov2"/>
        <arg name="model_name" value="rexrov"/>
    </include>

    <!-- Add the RexROV vehicle to the simulation (namespace: rexrov3) -->
    <include file="$(find uuv_descriptions)/launch/upload_rexrov.launch">
        <arg name="x" default="-50"/>
        <arg name="y" default="0"/>
        <arg name="z" default="-20"/>
        <arg name="yaw" default="0"/>
        <arg name="namespace" default="rexrov3"/>
    </include>

    <!-- Start the controller -->
    <include file="$(find uuv_tutorial_dp_controller)/launch/start_tutorial_dp_controller.launch">
        <arg name="uuv_name" value="rexrov3"/>
        <arg name="model_name" value="rexrov"/>
    </include>

    <!-- Start the recording node  -->
    <include file="$(find uuv_gazebo)/launch/controller_demos/record_demo.launch">
      <arg name="record" value="$(arg record)"/>
    </include>

    <!-- Open RViz for visualization of sensor data and visualization markers -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find uuv_gazebo)/rviz/controller_platoon_demo.rviz"/>


    <!--
    You can run this demo as

    >> roslaunch uuv_tutorial_dp_controller start_tutorial_dp_controller_platoon_demo.launch

    and you can then let one uuv follow another one

    >> roslaunch uuv_control_utils send_simplified_follow.launch uuv_name:=rexrov2 follow_name:=rexrov1 success_rate:=80

    or 

    >> roslaunch uuv_control_utils send_follow_waypoints.launch uuv_name:=rexrov2 follow_name:=rexrov1 x_shift:=0 y_shift:=0 z_shift:=0 success_rate:=80
    -->
</launch>
